
img
{
    border-radius: 10px;
    border: 2px solid salmon ;
}

.row
{
    display: flex;
    flex-direction:column;
}
.col
{

    display: flex;
    flex-direction: row;
}

.row > div 

{
    padding: 10px;
}