/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}
.col-1
{
	background-color: rgb(12, 114, 29);
}
.col-2
{
	background-color: blue;
}
.col-3
{
	background-color: brown;
}
.col-4
{
	background-color: coral;
}
.row-1
{
	left: 10px;
	/* background-color: bisque; */
}

.row::after
{
	content: "";
	display: table;
	clear: both;
}
/* grid system -- mobile first! */
@media only screen and (min-width: 479px)  {
	.col-1,.col-2,.col-3,.col-4
	{
		width: 48%;
		
	}
	

}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	[class*='col-'] {
		margin-right: 0;
		min-height: 1px;
		float: left;
	}
	.col-1
	{   
		width: 40%;
	
	}
	
	.col-2
	{
		
		width:48%;
	}
	.col-3
	{   
		width: 88%;
	}
	
	.col-4
	{  
	   
       width: 90%;
	}

}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
.col-1
{  float: left;
   margin-left: 20px;
   width: 20%;
   background-color: bisque;
}
.col-2
{
	float: left;
	margin-left: 20px;
	width: 44%;
	background-color: cadetblue;
}
.col-3
	{
		float: left;
		margin-left: 20px;
		width: 20%;
	}
	.change
	{
		width: 68%;
	}
}