.float-left
{
    border: 3px solid gray;
    background-color: blue;
    float: left;
    width: 300px;
}
p
{
    content:"";
    clear: both;
}

.float-right
{
    border: 4px double green;
    float: right;
}