* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(71, 158, 158);
}

.container {
    /* center in the browser  */
    margin: 100px auto 0px auto;
    display: block;
    height: 490px;
    width: 300px;
    border-radius: 20px;
    background-color: white;
}

.header {
    background-color: aqua;
    color: white;
    height: 200px;
}

.month {
    padding-top: 40px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.year,
.day {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

li {
    position: relative;
    /* display: inline-block; */
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    zoom: 1.2;
    *display: inline;
}


/* loading in effet in csss */

#loading {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h3 {
    color: white;
    font-size: 30px;
    text-shadow: 2px 1px 3px aqua;
}

h4 {
    color: white;
    text-shadow: 1px 1px 2px aqua;
}

#content {
    display: none;
}

#main {
    margin: 240px auto 0px 570px;
    display: block;
    /*used js to change it to none so that it disappears on loading*/
}


/* end of loading effect  */