html {
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
}
li
{  
	margin:2%;
	flex:1 20%;
	outline: 3px solid grey;
}
img
{
	width: 100%;
}
@media (max-width: 768px) {
li
{
	flex: 1 80%;
}
}
@media (min-width:768px) and (max-width: 1200px) { 
	
	li
	{
		flex:1 30%;
	}

}