/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 600px;
  height: 600px;
  background: url(../painting.png) no-repeat;
 
}
div {
	border: 1px solid black;
  background-color: white;
  display: grid;
	/* opacity: 0.5; */
}
.a {
  grid-row: 1/2;
  grid-column: 1/2;
}
.b {
  grid-row: ;
  grid-column: ;
}
.c {
  grid-row: ;
  grid-column: ;
}
.d {
  g  rid-row: ;
  grid-column: ;
}
.e {
  grid-row: ;
  grid-column: ;
}
.f {
  grid-row: ;
  grid-column: ;
}
.g {
	grid-row: ;
  grid-column: ;
}










